.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0;
}

.filters > div {
  display: flex;
  justify-items: center;
  gap: 1rem;
}

.filters > div label {
  color: #fff;
  font-size: 25px;
}

.filter_div {
  display: flex;
  flex-direction: column;
  gap: 1.5px;
  align-items: center;
  justify-content: center;
}

svg {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 890px) {
  .filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    justify-items: center;
  }

  .filters .cart_div {
    grid-area: 1 / 1 / 2 / 2;
  }

  .filters .input__container {
    grid-area: 2 / 1 / 3 / 3;
    margin: 15px auto;
  }

  .filters .filter_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .filters label {
    color: #fff;
    font-size: clamp(15px, 20px, 25px);
  }
}
