.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0;
}

.filters > div {
  display: flex;
  justify-items: center;
  gap: 1rem;
}

.filters > div label {
  color: #fff;
  font-size: 25px;
}

.filter_div {
  display: flex;
  flex-direction: column;
  gap: 1.5px;
  align-items: center;
  justify-content: center;
}

select {
  background-color: #2ecc71;
  color: #fefefe;
  border-radius: 25px;
  border: none;
  text-align: center;
  width: clamp(125px, 175px, 180px);
  height: 35px;
  margin: 0 0 15px 0;
  font-size: x-large;
  cursor: pointer;

  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  justify-content: center;
  justify-items: center;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none !important;
}

select:focus,
select:hover,
select:active {
  border-radius: 25px !important;
  outline: none !important;
  box-shadow: none !important;
}

select option {
  background-color: #2ecc71;
  color: white;
  font-size: 18px;
}

select option:nth-child(2) {
  width: 125px;
  background:
    linear-gradient(90deg, rgba(200, 0, 0, 0.5) 50%, transparent 50%),
    linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 50%);
  background-size: 50px 50px;
}

select option:active:nth-child(3) {
  width: 175px;
}

@media screen and (max-width: 890px) {
  .filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    justify-items: center;
  }

  .filters .cart_div {
    grid-area: 1 / 1 / 2 / 2;
  }

  .filters .input__container {
    grid-area: 2 / 1 / 3 / 3;
    margin: 15px auto;
  }

  .filters .filter_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .filters label {
    color: #fff;
    font-size: clamp(15px, 20px, 25px);
  }
}
