:root {
  color-scheme: light dark;

  &:has(input[name="color-scheme"][value="light dark"]:checked) {
    color-scheme: light dark;
    transition: background 5s ease-in-out;
  }
  &:has(input[name="color-scheme"][value="light"]:checked) {
    color-scheme: light;
    transition: background 5s ease-in-out;
  }
  &:has(input[name="color-scheme"][value="dark"]:checked) {
    color-scheme: dark;
    transition: background 5s ease-in-out;
  }
}

/* .tema {
  background: #fff;

  & input {
    appearance: none;

    margin: 6px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0, 0%, 100%, 0.15) 0 1px 1px,
      inset hsla(0, 0%, 0%, 0.5) 0 0 0 1px;
    background-color: hsla(0, 0%, 0%, 0.2);
    background-repeat: no-repeat;
    transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1),
      transform 0.25s cubic-bezier(0.8, 0, 1, 1);
    outline: none;

    &:checked {
      transition: background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1),
        transform 0.25s cubic-bezier(0, 0, 0.2, 1);
    }

    &:active {
      transform: scale(1.5);
      transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1);
    }
  }
} */

.radio-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f422;
  padding: 15px 20px;
  position: relative;
  z-index: 2;
  border-radius: 25px;
  box-shadow: 0px 0px 8px light-dark(#c2971f, #57860b);
  margin: 10px 0px 0px 10px;
}

.radio-input > label > input {
  appearance: none;
  width: 1em;
  margin: 2px;
  aspect-ratio: 1;
  /* height: 1.3em; */
  /* background-color: #171717; */
  /* box-shadow: inset 2px 0px 10px rgb(5, 5, 5); */
  border-radius: 25px;
  transition: 0.4s ease-in-out;

  &:hover {
    scale: 1.2;
    cursor: pointer;
    box-shadow: none;
  }

  &:checked {
    scale: 1.3;
  }
}

.plus1 {
  background: linear-gradient(90deg, white 50%, black 50%);
}

.plus2 {
  background: #fff;
}

.plus3 {
  background: #000;
}
