.signup-container {
  background: linear-gradient(45deg, #3498db, #2ecc71);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */

  position: relative;
  overflow: hidden;
  z-index: 2;
  padding: 20px 40px;
  height: 100vh;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.1) 1px,
        transparent 1px
      ),
      linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    padding: 3.1rem 2rem;
    z-index: -2;
  }
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  max-width: 350px;

  color: #000;
  background-color: #d3d3d3;
  border: 2px solid #323232;
  transition: 0.5s ease-in-out;

  &:hover {
    padding: 20px;
    margin: 10px;
    box-shadow: 8px 8px #323232;
    transition: 0.3s ease-in-out;
  }
}

.signup-title {
  border-radius: 5px;
  background: linear-gradient(145deg, #e2e2e2, #bebebe);
  box-shadow: 10px 10px 0px #030303;
  margin: 15px;
}

.label {
  background-color: #ff0;
  border: 2.5px solid #1a1a1acc;
  border-radius: 1.5px;
  padding: 5px;
  font-weight: 600;
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
  margin: 20px;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #fefefe;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* margin: 50px auto 0 auto; */
  padding: auto 15px 15px auto;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  transition: all 250ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
}

.submit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.submit:hover {
  color: #e8e8e8;
}

.submit:hover::before {
  width: 100%;
}

.signup-link {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  text-decoration: none;
}

.signup-link a {
  text-decoration: none;
}

.text-danger {
  color: #f44;
}
