.signup-container {
  background: linear-gradient(45deg, #3498db, #2ecc71);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 2;
  padding: 20px 40px;
  height: 100vh;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-image:
      linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: -2;
  }

  .signup-title {
    border-radius: 5px;
    background: linear-gradient(145deg, #e2e2e2, #bebebe);
    box-shadow: 10px 10px 0px #030303;
    margin: 15px;
    padding: 10px 20px;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    max-width: 350px;
    color: #000;
    background-color: #d3d3d3;
    border: 2px solid #323232;
    transition: 0.5s ease-in-out;

    &:hover {
      padding: 20px;
      margin: 10px;
      box-shadow: 8px 8px #323232;
    }

    .input-container {
      position: relative;
      margin: 20px;

      .label {
        background-color: #ff0;
        border: 2.5px solid #1a1a1acc;
        border-radius: 1.5px;
        padding: 5px;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 5px;
      }

      input {
        background-color: #fff;
        padding: 1rem;
        padding-right: 3.5rem; /* Espacio para el icono */
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 300px;
        border-radius: 0.5rem;
        border: 1px solid #fefefe;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        outline: none;
      }

      /* Contenedor específico para el password y el botón */
      .password-wrapper {
        position: relative;
        display: flex;
        align-items: center;

        .toggle-password {
          position: absolute;
          right: 10px;
          background: none;
          border: none;
          cursor: pointer;
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          transition: transform 0.2s ease;

          &:hover {
            transform: scale(1.2);
          }

          &:focus {
            outline: none;
          }
        }
      }

      .error-message {
        color: #f44;
        font-size: 0.75rem;
        margin-top: 5px;
      }
    }

    .submit {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: 250px;
      height: 40px;
      border-radius: 5px;
      border: 2px solid #000;
      background-color: #fff;
      box-shadow: 4px 4px #000;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: all 250ms;
      position: relative;
      overflow: hidden;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: #212121;
        z-index: -1;
        transition: all 250ms;
      }

      &:hover {
        color: #e8e8e8;
        &::before {
          width: 100%;
        }
      }
    }

    .footer-links {
      margin-top: 15px;
      font-size: 0.875rem;

      .link-text {
        color: #9e9eff;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.success-banner {
  background-color: "#d4edda";
  color: "#155724";
  padding: "15px";
  border-radius: "5px";
  margin-bottom: "20px";
  border: "1px solid #c3e6cb";
  text-align: "center";
  font-weight: "bold";
}
